/* css 书写顺序
1. 布局定位
2. 自身属性
3. 文本
4. 其他属性 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f5f7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.w {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 42px;
  margin: 30px auto;
}

.logo {
  float: left;
  width: 198px;
  height: 42px;

}

.nav {
  float: left;
  margin-left: 60px;
}

.nav ul li {
  float: left;
  margin: 0 15px;
}

.nav ul li a {
  display: block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
  color: #00a4ff;
}

.search {
  float: left;
  width: 412px;
  height: 42px;
  margin-left: 50px;
}

.search input {
  float: left;
  width: 346px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: 0;
  font-size: 14px;
  color: #bfbfbf;
  padding-left: 15px;
}

.search button {
  float: left;
  width: 50px;
  height: 42px;
  border: 0;
  background-color: #00a4ff;
  background-image: url(images/btn.png);
}

.user {
  float: right;
  line-height: 42px;
  margin-right: 30px;
  font-size: 14px;
  color: 14px;
}

.user img {
  vertical-align: middle;
}

.banner {
  height: 421px;
  background: #1c036c url(images/banner2.png) no-repeat top center;
}

.banner .subnav {
  float: left;
  width: 190px;
  height: 411px;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner .subnav ul li {
  height: 45px;
  line-height: 45px;
}

.banner .subnav ul li a {
  font-size: 14px;
  color: #fff;
}

.banner .subnav ul li a:hover {
  color: #00a4ff;
}

.banner .subnav ul li span {
  float: right;
}

.course {
  float: right;
  width: 230px;
  height: 313px;
  background-color: #fff;
  margin-top: 57px;
}

.course h2 {
  height: 48px;
  background-color: #9bceea;
  line-height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}

.course .bd {
  padding: 0 20px;
}

.course .bd li {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.course .bd li h4 {
  font-size: 16px;
  color: #414141;
}

.course .bd li p {
  font-size: 12px;
  color: #a5a5a5;
}

.course .bd a.more {
  display: block;
  height: 38px;
  line-height: 38px;
  border: 1px solid #00a4ff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #00a4ff;
  margin-top: 5px;
}

.goods {
  margin-top: 10px;
  height: 60px;
  border-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  line-height: 60px;
}

.goods h3 {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  color: #00a4ff;
}

.goods ul {
  float: left;
}

.goods ul li {
  float: left;
}

.goods ul li a {
  padding: 0 30px;
  color: #050505;
  font-size: 16px;
  border-left: 1px solid #aaa;
}

.goods .mod {
  float: right;
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}

.box {
  margin-top: 30px;
}

.box-hd {
  height: 45px;
}

.box-hd h3 {
  float: left;
  font-size: 20px;
  color: #494949;
}

.box-hd a {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 12px;
  color: #a5a5a5;
}

/* 小技巧, 把ul的宽度调宽 */
.box-bd ul {
  width: 1225px;
}

.box-bd ul li {
  float: left;
  width: 228px;
  height: 270px;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
}

.box-bd ul li img {
  width: 100%;
}

.box-bd ul li h4 {
  margin: 20px 20px 20px 25px;
  font-size: 14px;
  color: #050505;
  font-weight: 400;
}

.box-bd .info {
  margin: 0 20px 0 25px;
  font-size: 12px;
  color: #999;
}

.box-bd .info span {
  color: #ff7c2d;
}

.footer {
  height: 415px;
  background-color: #fff;
}

.footer .w {
  padding-top: 35px;
}

.footer .copyright {
  float: left;
}

.footer .copyright p {
  font-size: 12px;
  color: #666;
  margin: 20px 20px 0;
}

.footer .copyright .app {
  display: block;
  width: 118px;
  height: 33px;
  border: 1px solid #00a4ff;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #00a4ff;
  text-align: center;
  line-height: 33px;
}

.footer .links {
  float: right;
}

.links dl {
  float: left;
  margin-left: 100px;
}

.links dl dt {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.links dl dd a {
  font-size: 12px;
  color: #333;
}